<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Default Email Configuration-->
    <add key="EmailAddress" value="mohan@way2smile.com" />
    <add key="Password" value="qwerty963.7410" />
    <add key="smtp" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="AppName" value="myHSA" />
    <add key="EnableEmaillog" value="false" />
    <add key="isProdEnv" value="false" />
    <!--End Default Email Configuration-->
    <!--DB Configuration-->
    <!--<add key="DBServerName" value="tcp:mssql5.cloudsites.gearhost.com"/> 
   <add key="DBUserName" value="as_lic_v1_2_1"/> 
   <add key="DBUserPassword" value="miV4T8rx"/> 
   <add key="DefaultDB" value="AirSheetsMaster_V1_0"/>-->
    <!-- DC   
   <add key="DBServerName" value="54.154.106.163"/> 
   <add key="DBUserName" value="AirsheetsDBUser"/> 
   <add key="DBUserPassword" value="AirsheetsDBUser"/> 
   <add key="DefaultDB" value="AirSheetsMaster"/> 
   <add key="DefaultURL" value="http://www.airsheets.com/"/> 
   -->
    <!--  <add key="DBServerName" value="103.16.202.49"/>
    <add key="DBUserName" value="dbuser"/>
    <add key="DBUserPassword" value="dbuser"/>
    QA DB 
      <add key="DefaultDB" value="QA_myHSA_V2"/> 
    Dev DB
     <add key="DefaultDB" value="Dev_myHSA_V1"/>
   <add key="DefaultDB" value="myHSA"/>-->
    <!--add key="dbservername" value="34.208.125.205" />
    <add key="dbusername" value="myHSAStagingUser" />
    <add key="dbuserpassword" value="dp3?kbx45?az" />
    <add key="defaultdb" value="myhsa_access_prod" />
    <add key="SAURL" value="https://www.mywellness-plan.com/" />
    <add key="domainName" value="mywellness-plan"/-->
    <add key="dbservername" value="35.182.104.20" />
    <add key="dbusername" value="weite" />
    <add key="dbuserpassword" value="miv4t8rx*()" />
    <add key="defaultdb" value="myhsa_access_prod" />
    <add key="SAURL" value="https://www.myhsaaccess.com/" />
    <!-- <add key="DBServerName" value="W2S-SERVER2\SQLEXPRESS"/>
    <add key="DBUserName" value="sa"/>
    <add key="DBUserPassword" value="test123"/>
    <add key="DefaultDB" value="myHSA"/>
    <add key="SAURL" value="http://www.mywellness-plan.com/"/> -->
    <!--End of DB Configuration-->
    <!-- Default Settings-->
    <add key="FileDirectory" value="FileDirectory" />
    <!--End of default Settings-->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="4444;True;2056;1;-8587460914205280840" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />


    <!--CONFIG AMAZON S3-->
    <add key="serviceUrl" value="http://s3-ca-central-1.amazonaws.com"/>
    <add key="accessKeyId" value="AKIAIQWAIPVAZFCUCXHQ"/>
    <add key="secretAccessKey" value="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"/>
    <add key="s3Bucket" value="myhsa-testing"/>
    <add key="S3Region" value="ca-central-1"/>
    <add key="S3ReceiptImagesFolder" value="ReceiptImages" />
    <!-- timeout in seconds ; 2 hours -->
    <add key="S3UrlTimeout" value="7200"/>
    <add key="s3KeepLocalFile" value="false"/>

    <!-- Semi-colon delimeted list of emails to send on move success/failure -->
    <add key="AccountMoveSuccessEmails" value="mark@myhsasecure.com"/>
    <add key="AccountMoveFailureEmails" value="Tech@myhsasecure.com; mark@myhsasecure.com"/>
    
    <add key="BCCBankErrorEmails" value="mark@myhsasecure.com" />
<!--  Test entries.
    <add key="AccountMoveSuccessEmails" value="mgrandin.myhsa@gmail.com"/>
    <add key="AccountMoveFailureEmails" value="mgrandin.myhsa@gmail.com; mgrandin.work@gmail.com"/>
 -->

    <!-- <add key="TechEmailOnClientDelete" value="tech@myhsasecure.com" />
-->
    <add key="TechEmailOnClientDelete" value="mgrandin.myhsa@gmail.com" />
    <!-- Semi-colon delimeted list of emails to send on claim amount exceeded-->
    <add key="ClaimAmountExceededEmailList" value="mgrandin.myhsa@gmail.com; mgrandin.work@gmail.com" />
    <add key="ClaimAmountExceededAmount" value="1500" />
<!-- 
    <add key="BankRunEmails" value="mark@myhsasecure.com; yi@myhsasecure.com" />
    -->
    <add key="BankRunEmails" value="mgrandin.myhsa@gmail.com" />
  </appSettings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5"></compilation>
    <httpRuntime maxRequestLength="60240" maxUrlLength="1000" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!-- 
       To browse web app root directory during debugging, set the value below to true. 
       Set to false before deployment to avoid disclosing web app folder information. 
     -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <smtp from="sasi@way2smile.com">
        <network host="smtp.sendgrid.net" password="Whyt4728" userName="livesalesstaff" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <!--<binding name="MyBinding" maxReceivedMessageSize="2000000" maxBufferSize="2000000">
          <readerQuotas maxArrayLength="2000000" maxStringContentLength="2000000" />-->
        <binding name="MyBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" closeTimeout="00:50:00" openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00">
          <readerQuotas maxDepth="2000000" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="myHSA_API.MyhsaService">
        <endpoint behaviorConfiguration="myHSABehavior" binding="webHttpBinding" bindingConfiguration="MyBinding" name="myHSAEndPoint" contract="myHSA_API.IMyhsaService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myHSABehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <remove scheme="http" />
      <add scheme="http" binding="webHttpBinding" />
      <add scheme="https" binding="basicHttpsBinding" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Error.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
