.list-image {
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  
}
img{
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-left: 90px;
}
.media{
  flex-direction: column;
}
.card {
  margin-bottom: 10px;
  width: 1920px;
}
#Add-Employee-btn{
  margin-top: 20px;
}